* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: red;
}
.count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: #e9c46a;
	position: relative;
}
.count > h1 {
	font-size: 60px;
	letter-spacing: 20px;
}
button {
	position: absolute;
	top: 50px;
	left: 50px;
	border: none;
	background-color: transparent;
	font-size: 24px;
}
button:hover {
	cursor: pointer;
}
.game {
    display: flex;
    height: 70%;
}
.col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #fff;
}
img {
    display: flex;
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: 10px;
}

.rotate {
    animation: rotate-animation 1s linear;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
